.header-wrap {
    height: 100vh;
    position: relative;
}
.header-container {
    max-width: 1100px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li{
    list-style: none;
    margin: 0 30px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.header-main_text {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform:  translate(-50%); */
    /* width: 100%; */
    text-align: center;
    font-size: 48px;
    /* letter-spacing:20px; */
}
.header-main_text::after{
    content:'きっとラボ';
    font-size: 100%;
    color: red;
    display: block;
    font-size: 30%;
    letter-spacing: 20px;
}

.garally, .member ,.contact ,.about-us {
    padding: 90px;
    max-width: 1100px;
    margin: 0 auto;
}

.garally-title, .member-title, .title{
    /* text-align: center; */
    font-size: 38px;
    margin-bottom: 90px;
    padding-left: 10%;
}

.flexbox {
    display: flex;
}

.garally-content, .member-content {
    width: 33%;
    text-align: center;
}

.garally-content_img, .member-content_img {
    max-width: 430px;
    margin: 0 auto;
}

.garally-btn, .member-btn{
    text-align: center;
    margin-top: 80px;
}

.garally-btn a, .member-btn a {
    text-decoration: none;
    border: 1px solid #000;
    display: inline-block;
    padding: 12px 40px;
    color: #000;
    font-size: 20px;
}
.text {
    text-align: center;
    line-height: 400%;
}
/* ベースグループ （リセットCSS) */

figure,div,p{
    margin: 0;
    padding: 0;
}

/* カードモジュール */
.bl_card_imgWrapper{
    position:relative;
    padding-top:100%;
    overflow:hidden;
    border-radius:50%;
}
.bl_card_imgWrapper > img{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
}
.bl_card_body{
    padding:15px;
}
.bl_card_body > *:last-child{
    margin-bottom: 0;
}
.bl_card_ttl{
    margin-bottom: 5px;
    font-size:1.125rem;
    font-weight:bold;
}
.bl_card_txt{
    color:#777;
}
/* ラッパーモジュール */
.bl_cardUnit{
    display: flex;
    flex-wrap: wrap;
}
.bl_cardUnit.bl_cardUnit__col3{
    margin-bottom: -30px;
}
.bl_cardUnit__col3 > .bl_card{
    width:31.707%;
    margin-right:2.43902%;
    margin-bottom: 30px;
}
.bl_cardUnit__col3 > .bl_card:nth-of-type(3n){
    margin-right: 0;
}
@media screen and (max-width: 768px){
    .bl_cardUnit.bl_cardUnit__col3{
        margin-bottom: -20px;
    }
    .bl_cardUnit > .bl_card{
        width:100%;
        margin-bottom:20px;
        margin-right: 0;
    }
}
.top_img {
    width: 10pc;
    height: 10pc;
}
.header-wrap {
    background-image:url(assets/img/header_bg_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0;
}
.header-main_text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header_sub_text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 50%;
    /* transform:  translate(-50%); */
    /* width: 100%; */
    text-align: center;
    font-size: 20px;

}
.header_sub2_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 50%;
    /* transform:  translate(-50%); */
    /* width: 100%; */
    text-align: center;
    font-size: 25px;
}

/* about us フレックスボックス */
.about_us_wrap {
    display: flex;
    justify-content: space-between;
}
.about_item {
    width: 50%;
}
.about_us_item_img {
    width: 100%;
}

/* grallyフレックス */
/* .garally-content-wrap {
    display: flex;
    flex-wrap: wrap;
}
.garally-content-img{
    width: 33%;
}
.garally-content-txt {
    width: 66%;
} */

/* new garally フレックスボックス */
.garally-list>li {
    display: flex;
    
}
.garally-list > li > figure {
    flex-basis:28%;
    margin-right: 10%;
}
.garally-list > li > p {
    flex-basis:61%;
    text-align: center;
}
img{
    width: 100%;
    border: solid black; 
}

/* ギャラリー背景色 */
/* .garally {
    background-color: #EDE6DE;
} */



/* ギャラリー背景色 */
.garally-wrap {
    background-color:#EDE6DE ;
    /* position: relative; */
}

.garally-title {
    /* display: inline-block; */
    position:relative;
    z-index: 100;
    letter-spacing: 50px;
    color:#905D24 ;

}

.garally-title::before{
    position:absolute;
    content:'Works';
    color: #905d2426;
    display: block;
    font-size: 200%;
    letter-spacing: 20px;
    top: -40px;
    left: 100px;
    z-index: -1;
}

.contact-txt {
    text-align: center;
}

.footer {
    text-align: center;
}
